
<div
class="btn-wrappers"
nz-flex
nzJustify="center"
nzAlign="flex-start"
>










  <nz-card style="max-width:600px;" [nzTitle]="title"  [nzActions]="[actionSetting]" >
    {{message}}
  </nz-card>
  <ng-template #extraTemplate>

  </ng-template>



  <ng-template #actionSetting>
    @if (auth.user$ | async; as user) {
      <button nz-button nzType="primary" nzShape="round" (click)="logout()"><span nz-icon nzType="logout" nzTheme="outline"></span>Logout</button>
    }@else{
      <button nz-button nzType="primary" nzShape="round" (click)="login()"><span nz-icon nzType="login" nzTheme="outline"></span>Login</button>  
      
    }
  </ng-template>

</div>


